@using PlanningGambler.Front.Pages.Dialogs
@inherits LayoutComponentBase
@inject IMatDialogService matDialogService

<div class="page">
    <main>
        <MatFAB style="position: fixed; right: 50px; bottom: 50px; z-index: 2;" OnClick="@ChangeMenuState" RefBack="buttonForwardRef" Icon="@GetButtonIcon()"></MatFAB>
        <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
            <MatList>
                <MatListItem OnClick="@(_ => JoinRoom())">Join</MatListItem>
                <MatListItem OnClick="@(_ => CreateRoom())">Create</MatListItem>
                <MatListItem OnClick="@(_ => CloseMenu())" style="color: red">Close</MatListItem>
            </MatList>
        </MatMenu>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    readonly ForwardRef buttonForwardRef = new();
    MatMenu Menu;

    public async Task CreateRoom()
    {
        await matDialogService.OpenAsync(typeof(CreateRoomDialog), null);
    }

    public async Task JoinRoom()
    {
        await matDialogService.OpenAsync(typeof(JoinRoomDialog), null);
    }

    private string GetButtonIcon()
    {
        return MatIconNames.Menu;
    }

    private async Task ChangeMenuState()
    {
        await Menu.OpenAsync();
    }

    private async Task CloseMenu()
    {
        await Menu.CloseAsync();
    }
}